@page "/"
@inject HttpClient Http

<PageTitle>Blazing Trails</PageTitle>

@if(_Trails == null)
{
    <p>Loading trails...</p>
}
else
{
    <div class="grid">
        @foreach (var trail in _Trails)
        {
            <div class="card shadow" style="width: 18rem;">
                <img src="@trail.Image" class="card-img-top" alt="@trail.Name"/>
                <div class="card-body">
                    <h5 class="card-title">@trail.Name</h5>
                    <h6 class="card-subtitle mb-3 text-muted">
                        <span class="bi bi-pin-map"></span>
                        @trail.Location
                    </h6>
                    <div class="d-flex justify-content-between">
                        <span>
                            <span class="bi bi-clock mr-2"></span>
                            @trail.TimeFormatted
                        </span>
                        <span>
                            <span class="bi bi-infinity mr-2"></span>
                            @trail.Length km
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private IEnumerable<Trail>? _Trails;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _Trails = await Http.GetFromJsonAsync<IEnumerable<Trail>>("trails/trail-data.json");
        }
        catch(HttpRequestException error)
        {
            Console.WriteLine($"Проблема с загрузкой данных: {error.Message}");
        }
    }
}